*.gcda
*.gcno
travis_test
travis_test_coverage
valgrind.report
coverage.info
coverage.baseline
coverage.xml
coverage.html
cppcheck.xml
test_results.xml
valgrind.xml
coverage.combined
cppcheck_report/
coverage_report/